<form #heroForm="ngForm">
  <div class="form-group">
    <label for="firstName">first Name</label>
    <input 
     id="firstName"
     name="firstName"
     #firstName="ngModel"
       type="text"
        class="form-control"
         required>
         <div class="alert alert-danger" *ngIf="!firstName.valid">
           First name is required
         </div>
  </div>
  <div class="form-group">
      <label for="comment">comment</label>
      <textarea   id="comment" type="text" class="form-control" rows="10" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit"> Submit </button>
</form>